# ignore .vscode settings:
.vscode/

# ignore dist directory
dist/

# ingnore tests pycache
tests/__pycache__ 

# ignore build docs
docs/_build/*

# ignore _autosummary
docs/_autosummary/*

# ignore _temp
docs/_temp

# ignore pytest_cache
.pytest_cache/

# ignore mypy_cache
.mypy_cache/

# ignore .venv
.venv/
