# ignore .vscode settings:
.vscode/

# ignore example directory
examples/perfectworld.tif

# ignore dist directory
dist/

# ignore C++/C library
src/topotoolbox/libtopotoolbox.so

# ingnore tests pycache
tests/__pycache__ 