name: Create and upload wheels and source distribution

on:
  release:
    types: [published]

jobs:
  make_sdist:
    if: github.repository == 'TopoToolbox/pytopotoolbox'
    name: Make SDist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5

      - name: Install build
        run: python -m pip install build

      - name: Build SDist
        run: python -m build --sdist

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-sdist
          path: dist/*.tar.gz
  build_wheels:
    if: github.repository == 'TopoToolbox/pytopotoolbox'
    name: Wheel on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest, macos-13]
        cibw_arch: ["native"]
        cibw_build: ["cp310-* cp311-* cp312-*"]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5

      - name: Install cibuildwheel
        run: python -m pip install cibuildwheel==2.21.3

      - name: Build wheels
        run: python -m cibuildwheel --output-dir wheelhouse
        env:
          CIBW_ARCHS: ${{ matrix.cibw_arch }}
          CIBW_BUILD: ${{ matrix.cibw_build }}
          CIBW_SKIP: "*musllinux*"
          CIBW_TEST_REQUIRES: pytest
          CIBW_TEST_COMMAND: pytest {package}/tests
          CIBW_TEST_EXTRAS: opensimplex

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
  upload_assets:
    if: github.repository == 'TopoToolbox/pytopotoolbox'
    name: Upload release assets
    needs: [build_wheels, make_sdist]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: cibw-*
          path: dist
          merge-multiple: true
      - name: Upload assets to release
        run: gh release upload --repo $GITHUB_REPOSITORY $TAG dist/*
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG: ${{ github.event.release.tag_name }}
  upload-pypi:
    if: github.repository == 'TopoToolbox/pytopotoolbox'
    name: Upload release assets to PyPI
    needs: [build_wheels, make_sdist]
    runs-on: ubuntu-latest
    environment: pypi
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: cibw-*
          path: dist
          merge-multiple: true
      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true
